.recipe-tube {
  padding: 30px;
}

.recipe-tube h1 {
  text-align: center;
  margin-bottom: 10px;
}

.recipe-tube p {
  text-align: center;
  color: gray;
  margin-bottom: 30px;
}

.video-grid {
  display: grid;
  grid-template-columns:
  repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.video-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  box-shadow:
  0 4px 15px rgba(0,0,0,0.1);

  transition: 0.3s;
}

.video-card:hover {
  transform: translateY(-8px);
}

.video-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.video-info {
  padding: 15px;
}

.video-info button {
  margin-top: 10px;
  border: none;
  background: #ff0000;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}